// @import "~bootstrap/scss/bootstrap.scss";

.link-hover a {
    background-image: linear-gradient( to right, #0595df, #0595df 50%, #000 50% );
    background-size: 200% 100%;
    background-position: -100%;
    display: block;
    /* padding: 5px 0;*/
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    /*overflow: hidden;*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

    .link-hover a:before {
        content: '';
        background: #0595df;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
    }

    .link-hover a:hover {
        /*font-weight: bold;*/
        background-position: 0;
    }

        .link-hover a:hover::before {
            width: 100%;
        }

.link-hoverV2 a:hover {
    /*font-weight: bold;*/
    color: #0595df !important
}

.shadow-hover:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    font-weight: bold
}